* {
  font-family: "Sora", sans-serif;
}

.light-grey {
  background-color: #f9f9f9;
}

.dark-grey {
  color: #91989c;
}

.img1 {
  object-fit: cover;
}

/* SECTION HERO */
.btn-text {
  font-weight: 200;
  font-size: 0.8rem;
}

/* SECTION 'COLOR ACCENT' */
.accent-div {
  width: 100%;
  height: 500px;
}
.accent {
  background-color: #cd2d45;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
